{
  "extends": ["@exeto/eslint-config/node", "prettier"],
  "plugins": ["prettier"],
  "env": {
    "node": true,
  },
  "rules": {
    "prettier/prettier": "error"
  },
  "overrides": [
     {
       "files": ["src/**/*.js"],
       "parserOptions": {
          "ecmaVersion": 6,
          "sourceType": "module",
        }
     }
  ]
}
